<div class="sign-in-page">

  <div class="sign-in-card">
    <app-language-switcher />

    <div class="sign-in-header">

      <div class="logo">
        <mat-icon>inventory_2</mat-icon>
      </div>

      <h1>BodeGo</h1>

      <p>
        {{ 'auth.subtitle' | translate }}
      </p>

    </div>


    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="sign-in-form"
    >

      <mat-form-field appearance="outline">

        <mat-label>{{ 'auth.email' | translate }}</mat-label>

        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="admin@bodego.com"
        >

        @if (form.controls.email.hasError('required')) {
          <mat-error>
            {{ 'auth.emailRequired' | translate }}
          </mat-error>
        }

        @if (form.controls.email.hasError('email')) {
          <mat-error>
            {{ 'auth.emailInvalid' | translate }}
          </mat-error>
        }

      </mat-form-field>


      <mat-form-field appearance="outline">

        <mat-label>{{ 'auth.password' | translate }}</mat-label>

        <input
          matInput
          type="password"
          formControlName="password"
        >

        @if (form.controls.password.hasError('required')) {
          <mat-error>
            {{ 'auth.passwordRequired' | translate }}
          </mat-error>
        }

      </mat-form-field>


      @if (loginError()) {

        <div class="login-error">
          {{ 'auth.invalid' | translate }}
        </div>

      }


      <button
        mat-flat-button
        type="submit"
        [disabled]="form.invalid"
      >
        {{ 'auth.signIn' | translate }}
      </button>

    </form>

  </div>

</div>
