<h2 mat-dialog-title>
  @if (data.product) {
    {{ 'products.edit' | translate }}
  } @else {
    {{ 'products.new' | translate }}
  }
</h2>

<mat-dialog-content>

  <app-product-form
    [categories]="data.categories"
    [product]="data.product"
    (productSaved)="onProductSaved($event)"
  />

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    mat-button
    type="button"
    (click)="onCancel()"
  >
    {{ 'common.cancel' | translate }}
  </button>

</mat-dialog-actions>
