<div class="inventory-panel">
<div class="table-tools">
  <!-- Search -->
  <mat-form-field
    appearance="outline"
    class="search-field"
  >

    <mat-label>{{ 'products.search' | translate }}</mat-label>

    <mat-icon matPrefix>
      search
    </mat-icon>

    <input
      matInput
      type="text"
      [placeholder]="'products.searchPlaceholder' | translate"
      [ngModel]="searchTerm()"
      (ngModelChange)="onSearchChange($event)"
    >

  </mat-form-field>


  <!-- Category -->
  <mat-form-field
    appearance="outline"
    class="filter-field"
  >

    <mat-label>{{ 'common.category' | translate }}</mat-label>

    <mat-select
      [ngModel]="selectedCategoryId()"
      (ngModelChange)="onCategoryChange($event)"
    >

      <mat-option [value]="0">
        {{ 'products.allCategories' | translate }}
      </mat-option>

      @for (category of categories(); track category.id) {

        <mat-option [value]="category.id">
          {{ category.name }}
        </mat-option>

      }

    </mat-select>

  </mat-form-field>


  <!-- Status -->
  <mat-form-field
    appearance="outline"
    class="filter-field"
  >

    <mat-label>{{ 'common.status' | translate }}</mat-label>

    <mat-select
      [ngModel]="selectedStatus()"
      (ngModelChange)="onStatusChange($event)"
    >

      <mat-option value="all">
        {{ 'common.allStatuses' | translate }}
      </mat-option>

      <mat-option value="active">
        {{ 'common.active' | translate }}
      </mat-option>

      <mat-option value="inactive">
        {{ 'common.inactive' | translate }}
      </mat-option>

    </mat-select>

  </mat-form-field>

</div>

@if (products().length > 0 &&
filteredProducts().length === 0) {

  <div class="empty-state">
    <mat-icon>filter_alt_off</mat-icon>
    <p>{{ 'products.noResults' | translate }}</p>
  </div>

} @else {


  @if (filteredProducts().length > 0){
    <div class="table-container">

    <table
      mat-table
      [dataSource]="filteredProducts()"
      class="products-table"
    >

      <!-- Product -->
      <ng-container matColumnDef="name">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'common.product' | translate }}
        </th>

        <td mat-cell *matCellDef="let product">

          <div class="product-info">
            <strong>{{ product.name }}</strong>
            <span>{{ product.description }}</span>
          </div>

        </td>

      </ng-container>


      <!-- Category -->
      <ng-container matColumnDef="category">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'common.category' | translate }}
        </th>

        <td mat-cell *matCellDef="let product">
          {{ getCategoryName(product.categoryId) }}
        </td>

      </ng-container>


      <!-- Price -->
      <ng-container matColumnDef="price">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'common.price' | translate }}
        </th>

        <td mat-cell *matCellDef="let product">
          S/ {{ product.price.toFixed(2) }}
        </td>

      </ng-container>


      <!-- Minimum Stock -->
      <ng-container matColumnDef="minimumStock">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'common.minimumStock' | translate }}
        </th>

        <td mat-cell *matCellDef="let product">
          {{ product.minimumStock }}
        </td>

      </ng-container>


      <!-- Status -->
      <ng-container matColumnDef="status">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'common.status' | translate }}
        </th>

        <td mat-cell *matCellDef="let product">

          <span
            class="status"
            [class.active]="product.active"
            [class.inactive]="!product.active"
          >
            {{ product.active ? ('common.active' | translate) : ('common.inactive' | translate) }}
          </span>

        </td>

      </ng-container>


      <!-- Actions -->
      <ng-container matColumnDef="actions">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'common.actions' | translate }}
        </th>

        <td mat-cell *matCellDef="let product">

          <button
            mat-icon-button
            type="button"
            [attr.aria-label]="'products.edit' | translate"
            (click)="onEdit(product)"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            type="button"
            [attr.aria-label]="'products.delete' | translate"
            (click)="onDelete(product)"
          >
            <mat-icon>delete</mat-icon>
          </button>

        </td>

      </ng-container>


      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>

    </table>
      <mat-paginator
        [length]="filteredProducts().length"
        [pageIndex]="pageIndex()"
        [pageSize]="pageSize()"
        [pageSizeOptions]="[5, 10, 25]"
        [showFirstLastButtons]="true"
        (page)="onPageChange($event)"
      >
      </mat-paginator>

  </div>
}

}
</div>
