<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="product-form"
>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'common.name' | translate }}</mat-label>

    <input
      matInput
      formControlName="name"
      [placeholder]="'products.namePlaceholder' | translate"
    >

    @if (form.controls.name.hasError('required')) {
      <mat-error>
        {{ 'products.nameRequired' | translate }}
      </mat-error>
    }
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>{{ 'common.category' | translate }}</mat-label>

    <mat-select formControlName="categoryId">

      <mat-option [value]="0">
        {{ 'products.selectCategory' | translate }}
      </mat-option>

      @for (category of categories(); track category.id) {
        <mat-option [value]="category.id">
          {{ category.name }}
        </mat-option>
      }

    </mat-select>

  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>{{ 'common.description' | translate }}</mat-label>

    <textarea
      matInput
      formControlName="description"
      rows="3"
      [placeholder]="'products.descriptionPlaceholder' | translate"
    ></textarea>

    @if (form.controls.description.hasError('required')) {
      <mat-error>
        {{ 'products.descriptionRequired' | translate }}
      </mat-error>
    }

  </mat-form-field>


  <div class="form-row">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'common.price' | translate }}</mat-label>

      <span matTextPrefix>S/&nbsp;</span>

      <input
        matInput
        type="number"
        step="0.01"
        formControlName="price"
      >
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>{{ 'common.minimumStock' | translate }}</mat-label>

      <input
        matInput
        type="number"
        formControlName="minimumStock"
      >
    </mat-form-field>

  </div>


  <mat-checkbox formControlName="active">
    {{ 'products.activeProduct' | translate }}
  </mat-checkbox>


  <div class="form-actions">

    <button
      mat-flat-button
      type="submit"
      [disabled]="form.invalid"
    >
      @if (product()) {
        {{ 'products.update' | translate }}
      } @else {
        {{ 'products.create' | translate }}
      }
    </button>

  </div>

</form>
