<div class="products-page">
<div class="products-header">

  <div>
    <h1>{{ 'products.title' | translate }}</h1>
    <p>{{ 'products.description' | translate }}</p>
  </div>

  <button
    mat-flat-button
    type="button"
    (click)="onCreate()"
  >
    <mat-icon>add</mat-icon>
    {{ 'products.new' | translate }}
  </button>

</div>
<div class="summary-grid">

  <div class="summary-card">

    <div class="summary-icon">
      <mat-icon>inventory_2</mat-icon>
    </div>

    <div class="summary-content">
      <span>{{ 'products.total' | translate }}</span>
      <strong>{{ totalProducts() }}</strong>
    </div>

  </div>


  <div class="summary-card">

    <div class="summary-icon">
      <mat-icon>check_circle</mat-icon>
    </div>

    <div class="summary-content">
      <span>{{ 'products.active' | translate }}</span>
      <strong>{{ activeProducts() }}</strong>
    </div>

  </div>


  <div class="summary-card">

    <div class="summary-icon">
      <mat-icon>pause_circle</mat-icon>
    </div>

    <div class="summary-content">
      <span>{{ 'products.inactive' | translate }}</span>
      <strong>{{ inactiveProducts() }}</strong>
    </div>

  </div>

</div>

<app-product-list
  [products]="products()"
  [categories]="categories()"
  (edit)="onEdit($event)"
  (remove)="onDelete($event)"
/>
</div>
